body,
html {
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.loginlayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credentials {
    background-color: white;
    color: black;
    max-width: 400px;
    width: 40%;
    padding: 20px;
    outline: none;
    border: solid;
    border-color: gray;
    text-align: center;
    border-radius: 5%;
    margin: 0;
    font-size: 1em;
    border-width: 5px;
}

.credentials:focus {
    border-color: #aa3723;
}

.loginicon {
    width: 50% !important;
    max-width: 400px;
    border-radius: 10%;
}

.pagetitle {
    text-align: center;
}

.files {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
}

.filecard {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 2%;
}

.fileimg {
    width: 100%;
    user-select: none;
}

.filename {
    text-align: center;
    font-size: 30px;
}

.blackicons {
    width: 100%;
    user-select: none;
    filter: invert(1);
}

.navigation {
    color: whitesmoke;
}

.uploadfile{
    display: none;
}

.uploadfilelabel{
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #aa3723;
    border-radius: 10%;
}

.navcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbuttons{
    background-color: #aa3723;
    padding: 20px;
}