body,
html {
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.loginlayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credentials {
    max-width: 400px;
    width: 40%;
    padding: 20px;
}

.pagetitle {
    text-align: center;
}

.files {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
}

.filecard {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 2%;
}

.fileimg {
    width: 100%;
    user-select: none;
}

.filename {
    text-align: center;
    font-size: 30px;
}

.blackicons {
    width: 100%;
    user-select: none;
    filter: invert(1);
}

.navigation {
    color: whitesmoke;
}